<a data-url="<%- page.permalink %>" data-id="<%= page._id %>" class="post-share-link"><i class="fa fa-share"></i>공유하기</a>
<script>
	(function ($) {
		$('body').on('click', function() {
			$('.post-share-box.on').removeClass('on');
		}).on('click', '.post-share-link', function(e) {
			e.stopPropagation();

			var $this = $(this),
				url = $this.attr('data-url'),
				encodedUrl = encodeURIComponent(url),
				id = 'post-share-box-' + $this.attr('data-id'),
				offset = $this.offset(),
				box;

			if ($('#' + id).length) {
				box = $('#' + id);

				if (box.hasClass('on')){
					box.removeClass('on');
					return;
				}
			} else {
				var html = [
					'<div id="' + id + '" class="post-share-box">',
					'<input class="post-share-input" value="' + url + '">',
					'<div class="post-share-links">',
					'<a href="https://twitter.com/intent/tweet?url=' + encodedUrl + '" class="post-share-twitter" target="_blank" title="Twitter"></a>',
					'<a href="https://www.facebook.com/sharer.php?u=' + encodedUrl + '" class="post-share-facebook" target="_blank" title="Facebook"></a>',
					// Pinterest 제거
					// '<a href="http://pinterest.com/pin/create/button/?url=' + encodedUrl + '" class="post-share-pinterest" target="_blank" title="Pinterest"></a>',
					'<a href="https://plus.google.com/share?url=' + encodedUrl + '" class="post-share-google" target="_blank" title="Google+"></a>',
					'</div>',
					'</div>'
				].join('');

				box = $(html);

				$('body').append(box);
			}

			$('.post-share-box.on').hide();

			box.css({
				top: offset.top + 25,
				left: offset.left
			}).addClass('on');

		}).on('click', '.post-share-box', function (e) {
			e.stopPropagation();
		}).on('click', '.post-share-box-input', function () {
			$(this).select();
		}).on('click', '.post-share-box-link', function (e) {
			e.preventDefault();
			e.stopPropagation();

			window.open(this.href, 'post-share-box-window-' + Date.now(), 'width=500,height=450');
		});
	})(jQuery);
</script>